Package: com.donbytyqi.appshortcut
Name: AppShortcut
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Quickly access your favorite apps!
Maintainer: Don
Author: Don
Section: Tweaks
